<!doctype html>
<html lang="ru">
<html ng-app="socialnetwork">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
</head>

<body>
<div class="container" ng-controller="eventsCardController">
    <p></p>
    <h3>Создание события</h3>
    <form>
        <div class="form-row align-items-center">
            <div class="col-auto my-1">
                <label class="mr-sm-2" for="inlineFormCustomSelect">Тип события:</label>
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" ng-model="event.event_types_name">
                    <option ng-repeat="p in eventTypesList">{{p.name}}</option>
                </select>
            </div>
        </div>
    </form>
    <p></p>
    <form novalidate ng-submit="eventCreate()">
        <div class="form-floating input-group-sm">
            <label for="eventTitle">Название события:</label>
            <input type="text" class="form-control" id="eventTitle" placeholder="" ng-model="event.title">
        </div>
        <p></p>
        <div class="form-floating input-group-sm">
            <label for="eventDescription">Описание события:</label>
            <input type="text" class="form-control" id="eventDescription" placeholder="" ng-model="event.description">
        </div>
        <p></p>
        <div class="form-floating input-group-sm">
            <label for="eventEventData">Дата проведения события:</label>
            <input type="date" class="form-control" id="eventEventData" placeholder="" ng-model="event.event_data">
        </div>
        <p></p>
        <div class="form-floating input-group-sm">
            <label for="eventEvent_place">Город:</label>
            <input type="text" class="form-control" id="eventEvent_place" placeholder="" ng-model="event.event_place">
        </div>
        <p></p>
        <button type="submit" class="btn btn-secondary">Создать событие</button>
    </form>
    <script src="events-card.js"></script>
</div>
</body>
</html>