
<div class="container" ng-controller="createdController">
    <h3>Вами создано событие</h3>
    <table class="table table-hover">
        <tr>
            <!--<td>ID</td>-->
            <td>Наименование</td>
            <td>Описание</td>
            <td>Дата создания</td>
            <td>Id создателя</td>
            <td>дата проведения события</td>
            <td>тип события</td>
            <td>место проведения</td>
            <td></td>
        </tr>
        <tbody>
        <tr ng-repeat="t in createdEventList">
            <!--<td>{{t.id}}</td>-->
            <td>{{t.name}}</td>
            <td>{{t.description}}</td>
            <td>{{t.createData}}</td>
            <td>{{t.ownerId}}</td>
            <td>{{t.eventDate}}</td>
            <td>{{t.eventType}}</td>
            <td>{{t.locations}}</td>
            <td>
                <button type="button" class="btn btn-danger" ng-click="deleteEvent(t.id)">Удалить</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>