<!doctype html>
<html lang="ru">
<html ng-app="socialnetwork">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
</head>

<body>
<div class="container" ng-controller="profileController">
    <table cellpadding="0" cellspacing="0">
        <tbody>
        <tr valign="top" align="middle">
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="profile/images_profile/avatar-icon.png" alt="Avatar">
                    <div class="card-body">
                        <h6 class="card-title">Иван Сидоров</h6>
                    </div>
                </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h6 class="card-title">33</h6>
                        <h6 class="card-title">Подписки</h6>
                    </div>
                    <div class="card-body">
                        <p class="card-text"><i>О себе: я разработчик алгоритмов и компьютерных программ. Я пишу их на специальных языках. Я очень востребован, и моя работа хорошо оплачивается</i></p>
                    </div>
                    <div class="card-body">
                        <a href="#" class="card-link">Редактировать</a>
                    </div>
                </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h6 class="card-title">100К</h6>
                        <h6 class="card-title">Подписчики</h6>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Дата рождения</p>
                        <p class="card-text">Город</p>
                        <p class="card-text">Телефон</p>
                        <p class="card-text">Компания</p>
                        <p class="card-text">Должность</p>
                        <p class="card-text">Вуз/Образование</p>
                    </div>
                </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h6 class="card-title">456К</h6>
                        <h6 class="card-title">Лайков событий</h6>
                    </div>
                    <div class="card-body">
                        <p class="card-text">YouTube</p>
                        <p class="card-text">TikTok</p>
                        <p class="card-text">Telegram</p>
                        <p class="card-text">VK</p>
                        <p class="card-text">Twice</p>
                        <p class="card-text">SnapChat</p>
                        <p class="card-text">Pinterest</p>
                        <p class="card-text">Weblink</p>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <h4>Мои события</h4>
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Ближайшие</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Планы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Архив</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <table class="container" cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                    <td>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end">
                                <li class="page-item">
                                    <a class="page-link" href="#" tabindex=actualPageIndex ng-click="loadEvents(actualPageIndex-1)">Previous</a>
                                </li>
                                <li class="page-item" ng-repeat="pageIndex in pagesList">
                                    <a class="page-link" href="#" ng-click="loadEvents(pageIndex)">{{pageIndex}}</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#" tabindex=actualPageIndex ng-click="loadEvents(actualPageIndex + 1)">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="table table-hover" cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                    <td>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal">
                            <img src="events/images_filter/png-filter-icon.png" width = "30">
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Фильтр по типу событий и городу</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-check form-check-inline" ng-repeat="p in eventTypesList">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox" value={{p.name}} checked = "true">
                                            <label class="form-check-label" for="inlineCheckbox">{{p.name}}</label>
                                            &nbsp;<button type="button" class="btn btn-info" ng-click="showEventTypesInfo(p.description_full)">?</button>
                                        </div>
                                        <p></p>
                                        <div class="col">
                                            <input type="text" class="form-control" placeholder="Поиск по городу" name = "event_place">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="modalBodyClose()">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td ng-show="isUserAdmin()" >ID</td>
                    <td>Дата события</td>
                    <td>Событие</td>
                    <td>Место и время</td>
                    <td></td>
                </tr>
                <tr ng-repeat="p in eventsPage.items">
                    <td>&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-info" ng-click="showEventInfo(p)">?</button></td>
                    <td ng-show="isUserAdmin()">{{p.id}}</td>
                    <td><b>{{getOnlyDay(p.event_date)}}</b></td>
                    <td>
                        <p><b>{{p.title}}</b></p>
                        <p>Автор: {{p.author}}</p>
                    </td>
                    <td>
                        <p>{{p.event_place}}</p>
                        <p><b>{{getOnlyTime(p.event_date)}}</b></p>
                    </td>
                    <td>
                        <button type="button" ng-show = "!p.isfollow" class="btn btn-secondary" ng-click="followToEvent(p)">Участвовать</button>
                        <button type="button" ng-show = "p.isfollow" class="btn btn-danger" ng-click="deleteFollowToEvent(p)">Отписаться</button>
                        <button type="button" ng-show = "isUserAdmin()" class="btn btn-danger" ng-click="showFollowToEvent(p)">Тест</button>
                        <button type="button" ng-show="isUserAdmin()" class="btn btn-danger" ng-click="deleteEventById(p)">Удалить событие</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="events.js"></script>
</body>
</html>

