<!doctype html>
<html lang="ru">
<html ng-app="socialnetwork">
<head>
    <meta charset="utf-8">
    <title>ITMob</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
</head>
<body>
<div ng-controller="mainController">
    <table cellpadding="0" cellspacing="0">
        <tbody>
        <tr valign="top">
            <br>
            <td width="60"></td>
            <td>
                <table cellpadding="0" cellspacing="0" width="220">
                    <tbody>
                    <br>
                    <tr ng-repeat="p in menuList" valign="top">
                        <td height="80"><a href={{p.href}}><img src={{p.photo_link}} width="30"></a></td>
                        <td width="20"></td>
                        <td height="80"><a href={{p.href}}><p class="text-body">{{p.name}}</p></a></td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td width="30"></td>
            <td width="1" bgcolor="a6a6a6"></td>
            <td width="60"></td>
            <td width="70%">
                <ng-view></ng-view>
            </td>
            <td ng-show="!isUserLoggedIn()"><a href="#!/login">
                <button class="btn btn-primary">Войти</button>
            </a></td>
            <td width="60"></td>
            <td width="1" bgcolor="a6a6a6"></td>
            <td width="30"></td>
            <td>
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenu2"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="images_menu/6128.png" width="30">
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <a ng-show="isUserLoggedIn()" class="dropdown-item" href="">Анкетные данные</a>
                        <a ng-show="isUserLoggedIn()" class="dropdown-item" href="#!/privacy">Приватность</a>
                        <a class="dropdown-item" href="#!/agreement">Пользовательское соглашение</a>
                        <a class="dropdown-item" href="#!/confidentiality">Политика конфиденциальности</a>
                        <a class="dropdown-item" href="#!/contact">Связаться с нами</a>
                        <a class="dropdown-item" href="#!/aboutNet">Об ITMob</a>
                        <button ng-show="isUserLoggedIn()" class="btn btn-danger" ng-click="tryToLogout()">Выход
                        </button>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<script src="index.js"></script>
<script src="start-page/start-page.js"></script>
<script src="login/login.js"></script>
<script src="register/register.js"></script>
<script src="events/events.js"></script>
<script src="events-card/events-card.js"></script>
<script src="privacy_setting/privacy.js"></script>
<script src="agreement/agreement.js"></script>
<script src="confidentiality/confidentiality.js"></script>
<script src="contact/contact.js"></script>
<script src="about-net/about-net.js"></script>
</html>